/* For Webkit-based browsers (Chrome, Safari) */
#category-filters::-webkit-scrollbar {
  height: 4px;
}

#category-filters::-webkit-scrollbar-track {
  background: #f1f5f9; /* slate-100 */
}

#category-filters::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 10px;
}

#category-filters::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

/* For Firefox */
#category-filters {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;
}
